**Business challenge/requirement:**

FuPont is a leading chemical company across the globe.  The Company is on a CSR (Corporate Social Responsibility) mission. It wants to identify biodegradable products based on a study of the relationships between chemical structure and biodegradation of molecules. You as ML expert have to create a ML model to classify the chemical structure as: 
* Ready BioDegradable = RB 
* Not Ready Biodegradable = NRB

In [90]:
import numpy as np # linear algebra
import pandas as pd # data processing
import datetime as dt #work with date type

#Visualisation frameworks
import matplotlib.pyplot as plt
%matplotlib inline  
import seaborn as sns

#Tools
from sklearn.model_selection import train_test_split # Split
from sklearn.ensemble import AdaBoostClassifier #Model
from sklearn.metrics import f1_score #Metric

In [91]:
#Loading our df
df = pd.read_csv('C:/Users/gabri/Desktop/Data Science/Python/Python for Data Science - Edureka/Module 14 - Model Selection and Boosting/bio-degradabale-data.csv',
                header=None, sep=';')

#Printing first five rows and shape
print(df.shape)
df.head()

(1055, 42)

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,3.919,2.6909,0,0,0,0,0,31.4,2,0,...,0,0,0,2.949,1.591,0,7.253,0,0,RB
1,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,RB
2,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,RB
3,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,RB
4,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,RB

In [92]:
df.isna().sum().sort_values(ascending=False)[:5]

0     0
31    0
23    0
24    0
25    0
dtype: int64

As we're working with classifications prolbems, let's change our target column to binary:

* 0 = Not Ready Biodegradable (NRB)
* 1 = Ready BioDegradable (RB)

In [93]:
df[41] = df[41].str.replace('RB', '1')
df[41] = df[41].str.replace('N1', '0')
df[41].unique()

array(['1', '0'], dtype=object)

In [94]:
X = df.drop(41, axis=1)
y = df[41].values

#Printing results
print('X shape:', X.shape, '\ny shape:', y.shape)
X.head()

X shape: (1055, 41)
y shape: (1055,)

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,3.919,2.6909,0,0,0,0,0,31.4,2,0,...,0,0,0,0,2.949,1.591,0,7.253,0,0
1,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,0,3.315,1.967,0,7.257,0,0
2,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,0,1,3.076,2.417,0,7.601,0,0
3,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,0,1,3.046,5.000,0,6.690,0,0
4,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,0,3.351,2.405,0,8.003,0,0

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### Model Building

In [98]:
#Cross-validation
kfold = model_selection.KFold(n_splits=10)

#Our model
model = AdaBoostClassifier(n_estimators=30).fit(X_train, y_train)

#Predicting test
predict = model.predict(X_test)

In [103]:
#Comparing results
f1_score(y_test, predict, pos_label='1')

0.7906976744186046